<mat-dialog-content class="form">



    <div class="title">
        <h3>make a</h3>
        <h1>RESERVATION</h1>
    </div>

    <div class="formWrapper">




        <div class="infoWrap">
            <img *ngIf="imageSelected" src={{this.showImg}} class="image">



            <div class="reservationInfo">


                <h2 style="margin-bottom: 5%; text-align: center; margin-right: 5%;">{{this.data.destination.title}}
                </h2>

                <p>• About</p>
                <p style="margin-bottom: 5%;margin-left: 5%;">{{this.data.destination.description}}</p>

                <p>• Where?</p>
                <p style="margin-bottom: 5%; margin-left: 5%;">St Moritz</p>

                <p style="margin-bottom: 2%;">• When?</p>
                <mat-form-field class="datePicker" appearance="outline">
                    <mat-label>Enter a date range</mat-label>
                    <mat-date-range-input [rangePicker]="picker">
                        <input matStartDate placeholder="MM/DD/YYYY "  (dateChange)="startDatePicker.next($event)" >
                        <input matEndDate placeholder="MM/DD/YYYY"  (dateChange)="endDatePicker.next($event)" >
                    </mat-date-range-input>
                    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-date-range-picker #picker></mat-date-range-picker>
                </mat-form-field>


                <div class="text-center mt-3 " *ngIf='validDate'>
                    <p class="alertLabel">Choose a valid date*</p>
                </div>




            </div>

        </div>

        <form [formGroup]="makeReservationForm" class="ng-pristine ng-invalid ng-touched" (ngSubmit)="onSubmit()">










            <mat-form-field class="input">
                <mat-label *ngIf="makeReservationForm.get('selected_spots')?.value == ''">Total Price </mat-label>
                <!-- <mat-label *ngIf="makeReservationForm.get('selected_spots')?.value">Total Price </mat-label> -->

                <input matInput placeholder="Total Price" formControlName="price" >

            </mat-form-field>





            <mat-form-field class="input">
                <mat-label>Choose spots number</mat-label>
                <mat-select formControlName="selected_spots">
                    <mat-option *ngFor="let spot of spots" [value]="spot">{{ spot }}</mat-option>
                </mat-select>
                <mat-error *ngIf="makeReservationForm.get('selected_spots')?.hasError('required')">
                    Please choose a spot
                </mat-error>
            </mat-form-field>



            <button type="submit" >Book now</button>

        </form>


    </div>

</mat-dialog-content>