/*************************************************** TITLE  ****************************************************/

.title {
    /* height: 50%;
    width: 100%; */
    margin-top: 7%;
    margin-left: 1%;
    margin-bottom: 4%;

}

h3 {
    color: #fff;
    /* margin: 3% 2% -20px; */
    font-style: italic;
    font-weight: 100;
    font-size: 23px;
    letter-spacing: 1px;
    margin-left: 1%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

h1 {
    color: #fff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 100px;
    letter-spacing: 5px;
    height: 100%;
    opacity: 0.6;
    background-image: linear-gradient(45deg, #000, #fff, #817f7f, #fff, #000);
    background-size: 100%;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent !important;
    padding-top: 4%;


}


/* ******************************************************FORM******************************************************** */

.form {


    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white !important;
    /* background-color: rgba(255, 255, 255, 0.2) !important; */
    /* background-color: rgba(0, 0, 0, 0.2) !important; */
    border: 2px solid #fff;
    border-radius: 10px;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.8);
    transition: transform 0.3s;
    cursor: pointer;
    font-family: Verdana, Geneva, Tahoma, sans-serif !important;

}

.form form {

    gap: 3%;
    /* padding-top: 2%; */
    color: white !important;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 90%;


    margin-top: 5%;
    margin-left: 5%;

}


.formWrapper {

    display: flex;
    flex-direction: column;



}

.input {
    cursor: pointer;
    color: white !important;
    border: none;
    border-radius: 10px;
    /* background-color: transparent; */
    width: 20vw !important;
    height: 10vh !important;
    border-radius: 5px !important;
    margin-left: 5%;
    margin-right: 5%;
}


.inputImage {
    cursor: pointer;
    color: white !important;
    border: none;
    border-radius: 10px;
    background-color: transparent;
    border-radius: 5px !important;
    width: 20vw;
    height: 40vh;
    margin-right: 10%;

}

.inputDescription {
    cursor: pointer;
    color: white !important;
    border: none;
    border-radius: 10px;
    background-color: transparent;
    border-radius: 5px !important;
    width: 20vw;
    height: 40vh;
    margin-left: 10%;
}

textarea {
    width: 20vw;
    height: 35vh;
}

mat-dialog-actions button {
    display: flex;
    justify-content: center;
    font-size: 15px;

    font-family: Verdana, Geneva, Tahoma, sans-serif !important;
    background-color: rgb(36, 125, 72);
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    display: flex;
    width: 20vw;
    margin-bottom: 2%;
    box-shadow: 0 1px 8px rgba(36, 125, 72, 0.8);
    margin-top: 5%;



}


form button {
    display: flex;
    justify-content: center;
    font-size: 15px;

    font-family: Verdana, Geneva, Tahoma, sans-serif !important;
    background-color: rgb(36, 125, 72);
    color: white;
    border: none;
    border-radius: 5px;
    padding: 15px 25px;
    cursor: pointer;
    display: flex;
    width: 20vw;

    box-shadow: 0 1px 8px rgba(36, 125, 72, 0.8);
    /* margin-top: 5%; */
    margin-bottom: 5%;
    margin-top: 2%;
    justify-self: center;
    align-self: center;
    margin-left: 10%;
    margin-right: 10%;


}

button:hover {
    background-color: rgb(28, 95, 55);

}

::ng-deep .transparent-dialog .mat-dialog-container {
    background-color: rgba(0, 0, 0, 0.2) !important;
    border-radius: 10px;

}

::ng-deep .mat-mdc-dialog-container .mdc-dialog__surface {

    display: flex;
    flex-direction: column;
    margin-bottom: 30% !important;
    -webkit-backdrop-filter: blur(10px) saturate(180%);
    backdrop-filter: blur(10px) saturate(180%);
    background-color: rgba(0, 0, 0, .5);
    margin-top: 30% !important;



}



::ng-deep .mat-mdc-dialog-container .mdc-dialog__surface::-webkit-scrollbar {
    display: none;
}

::ng-deep .mat-mdc-dialog-content::-webkit-scrollbar {
    display: none;
}

::ng-deep .mat-mdc-dialog-content {
    max-width: none !important;
    max-height: none !important;

}



.transparent-dialog {
    margin-top: 30%;
}

mat-dialog-actions {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    width: 80%;
}

/* .image {
    max-width: 15vw !important;
    max-height: 35vh;
    cursor: pointer;
    color: white !important;
    border: none;
    border-radius: 10px;
    background-color: transparent;
    
    border-radius: 5px !important;
} */

.imageContainer {
    display: flex;
    flex-direction: column;
}

::ng-deep .mat-mdc-select-value-text {
    color: white !important;
    ;
}


/* ::ng-deep  .mat-mdc-form-field:not(.mat-form-field-disabled) .mat-mdc-floating-label.mdc-floating-label {
    cursor: inherit;
    text-wrap: wrap;
} */


.reservationInfo {
    width: 50%;
    margin-left: 15%;
}

img {

    width: 20vw !important;
    border-radius: 10px;
}

.infoWrap {
    margin-top: 3%;
    margin-left: 13%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}



/************************************************** Date Picker *********************************************************/
.datePicker {

 
   
    width: 80%;
    height: 50%;
    /* margin-left: 12.5%; */
    /* transform: translateY(40%); */

}


/* Calender icon */
::ng-deep .mat-datepicker-toggle {
    color: whitesmoke !important;
}

/* Date Format */
::ng-deep .mat-mdc-form-field-hint {
    color: rgba(255, 255, 255, 0.5) !important;
    margin-top: 3px;
}

::ng-deep .ng-tns-c2608167813-0 {
    margin-bottom: -3px;
    color: rgba(255, 255, 255, 0.7) !important;
}



::ng-deep .mdc-notched-outline>* {

    border-left: transparent !important;
    border-right: transparent !important;
    border-top: transparent !important;
    border-color: rgba(255, 255, 255, 0.7) !important;
    border-width: 0.15em !important;

}

::ng-deep .mdc-text-field--focused .mdc-notched-outline>* {
    border-left: transparent !important;
    border-right: transparent !important;
    border-top: transparent !important;
    border-color: rgba(255, 255, 255, 0.7) !important;
}

::ng-deep .mdc-text-field--invalid .mdc-notched-outline>* {
    border-left: transparent !important;
    border-right: transparent !important;
    border-top: transparent !important;

}

/* Placeholder NOT focus */
::ng-deep .mdc-text-field:not(.mdc-text-field--disabled) .mdc-floating-label {
    color: rgba(255, 255, 255, 0.7) !important;
}

/* Placeholder on focus */
::ng-deep .mdc-text-field--focused:not(.mdc-text-field--disabled) .mdc-floating-label {
    color: whitesmoke !important;
}

::ng-deep .mat-calendar-body-active>.mat-calendar-body-today {
    color: white !important;
    background-color: rgb(28, 95, 55) !important;
}

::ng-deep .mat-calendar-body-selected {
    color: white !important;
    background-color: rgb(28, 95, 55) !important;
}

::ng-deep .mat-calendar-body-cell:not(.mat-calendar-body-disabled):hover>.mat-calendar-body-cell-content:not(.mat-calendar-body-selected):not(.mat-calendar-body-comparison-identical) {
    background-color: rgba(57, 190, 185, 0.2) !important;
}

::ng-deep .mat-calendar-body-today:not(.mat-calendar-body-selected) {
    border-color: rgb(28, 95, 55) !important;

}

::ng-deep .mat-calendar {
    background-color: whitesmoke !important;

}



::ng-deep .mat-date-range-input-inner{
    color: whitesmoke !important;
}

::ng-deep .mat-date-range-input-separator{
    color: whitesmoke !important;
}

.alertLabel {
    color: rgb(218, 75, 75);
    padding-top: 0;
    font-size: small;
}

.form form button:hover {
    background-color: rgb(28, 95, 55);

}

::ng-deep .mdc-text-field--filled.mdc-text-field--disabled .mdc-floating-label{
    color: rgba(255, 255, 255, 0.7) !important
}

input[matStartDate], input[matEndDate] {
    pointer-events: none;
  }

  mat-mdc-form-field-infix ng-tns-c2608167813-3{
    pointer-events: none;
  }