/*************************************************** TITLE  ****************************************************/

.title {
    /* height: 50%;
    width: 100%; */
    margin-top: 22%;
    margin-left: 1%;
    margin-bottom: 4%;

}

h3 {
    color: #fff;
    /* margin: 3% 2% -20px; */
    font-style: italic;
    font-weight: 100;
    font-size: 23px;
    letter-spacing: 1px;
    margin-left: 1%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

h1 {
    color: #fff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 100px;
    letter-spacing: 5px;
    height: 100%;
    opacity: 0.6;
    background-image: linear-gradient(45deg, #000, #fff, #817f7f, #fff, #000);
    background-size: 100%;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent !important;
    padding-top: 4%;


}


/* ******************************************************FORM******************************************************** */

.form {


    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white !important;
    /* background-color: rgba(255, 255, 255, 0.2) !important; */
    /* background-color: rgba(0, 0, 0, 0.2) !important; */
    border: 2px solid #fff;
    border-radius: 10px;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.8);
    transition: transform 0.3s;
    cursor: pointer;
    font-family: Verdana, Geneva, Tahoma, sans-serif !important;
}

.form form {

    gap: 3%;
    padding-top: 2%;
    color: white !important;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 90%;
    
}


.formWrapper {

    display: flex;
    flex-direction: column;



}

.input {
    cursor: pointer;
    color: white !important;
    border: none;
    border-radius: 10px;
    /* background-color: transparent; */
    width: 20vw !important;
    height: 10vh !important;
    border-radius: 5px !important;
    margin-left: 5%;
    margin-right: 5%;
}

.inputImage {
    cursor: pointer;
    color: white !important;
    border: none;
    border-radius: 10px;
    background-color: transparent;
    border-radius: 5px !important;
    width: 20vw;
    height: 40vh;
    margin-right: 10%;

}

.inputDescription {
    cursor: pointer;
    color: white !important;
    border: none;
    border-radius: 10px;
    background-color: transparent;
    border-radius: 5px !important;
    width: 20vw;
    height: 40vh;
    margin-left: 10%;
}

textarea{
    width: 20vw;
    height: 35vh;
}

mat-dialog-actions button {
    display: flex;
    justify-content: center;
    font-size: 15px;

    font-family: Verdana, Geneva, Tahoma, sans-serif !important;
    background-color: rgb(36, 125, 72);
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    display: flex;
    width: 20vw;
    margin-bottom: 2%;
    box-shadow: 0 1px 8px rgba(36, 125, 72, 0.8);
    margin-top: 5%;
    


}


form button {
    display: flex;
    justify-content: center;
    font-size: 15px;

    font-family: Verdana, Geneva, Tahoma, sans-serif !important;
    background-color: rgb(36, 125, 72);
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    display: flex;
    width: 20vw;
    margin-bottom: 2%;
    box-shadow: 0 1px 8px rgba(36, 125, 72, 0.8);
    /* margin-top: 5%; */
    margin-bottom: 5%;
    justify-self: center;
    align-self: center;
    margin-left: 10%;
    margin-right: 10%;


}

button:hover {
    background-color: rgb(28, 95, 55);

}

::ng-deep .transparent-dialog .mat-dialog-container {
    background-color: rgba(0, 0, 0, 0.2) !important;
    border-radius: 10px;

}

::ng-deep .mat-mdc-dialog-container .mdc-dialog__surface {

    display: flex;
    flex-direction: column;
    margin-bottom: 30% !important;
    -webkit-backdrop-filter: blur(10px) saturate(180%);
    backdrop-filter: blur(10px) saturate(180%);
    background-color: rgba(0, 0, 0, .5);
    margin-top: 30% !important;



}



::ng-deep .mat-mdc-dialog-container .mdc-dialog__surface::-webkit-scrollbar {
    display: none;
}

::ng-deep .mat-mdc-dialog-content::-webkit-scrollbar {
    display: none;
}

::ng-deep .mat-mdc-dialog-content {
    max-width: none !important;
    max-height: none !important;

}



.transparent-dialog {
    margin-top: 30%;
}

mat-dialog-actions {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    width: 80%;
}

.image {
    max-width: 15vw !important;
    max-height: 35vh;
    cursor: pointer;
    color: white !important;
    border: none;
    border-radius: 10px;
    background-color: transparent;
    /* padding-top: 3%; */
    border-radius: 5px !important;
}

.imageContainer {
    display: flex;
    flex-direction: column;
}


::ng-deep .mat-date-range-input-separator{
    color: white !important;
}