<mat-dialog-content class="form">

    <div class="title">
        <h3>Add a new</h3>
        <h1>DESTINATION</h1>
    </div>

    <div class="formWrapper">

        <form [formGroup]="addDestinationForm" class="ng-pristine ng-invalid ng-touched">

            <mat-form-field class="input">
                <mat-label>Title</mat-label>
                <input matInput placeholder="Title" formControlName="title">
            </mat-form-field>

            <mat-form-field class="input">
                <mat-label>Location</mat-label>
                <input matInput placeholder="Location" formControlName="location">
            </mat-form-field>

            <mat-form-field class="input">
                <mat-label>Description</mat-label>
                <textarea matInput placeholder="Description" formControlName="description"></textarea>
            </mat-form-field>

            <mat-form-field class="input">
                <mat-label>Price per night</mat-label>
                <input matInput type="number" placeholder="Price per night" formControlName="price">
            </mat-form-field>

            <mat-form-field class="input">
                <mat-label>Discount</mat-label>
                <mat-select [(value)]="discount">
                    <mat-option value="0">0%</mat-option>
                    <mat-option value="5">5%</mat-option>
                    <mat-option value="10">10%</mat-option>
                    <!-- Add more options as needed -->
                </mat-select>
            </mat-form-field>

            <mat-form-field class="input">
                <mat-label>Available spots</mat-label>
                <input matInput type="number" placeholder="Available spots" formControlName="availableSpots">
            </mat-form-field>


        </form>

        <mat-dialog-actions>
            <button (click)="closeDialog()">Cancel</button>
            <button [mat-dialog-close]="formData">Add</button>
        </mat-dialog-actions>

    </div>
</mat-dialog-content>