<mat-dialog-content class="form">



    <div class="formWrapper">


        <div class="title">
            <h3>Add a new</h3>
            <h1>DESTINATION</h1>
        </div>

        <form [formGroup]="addDestinationForm" class="ng-pristine ng-invalid ng-touched" (ngSubmit)="onSubmit()" >

            <div class="imageContainer" [style.height.px]="imageSelected ? 'auto' : '56px'">
                <mat-form-field class="input">
                    <mat-label>Select a file</mat-label>
                    <input matInput type="text" disabled [value]="coverImgFile || 'Choose an image'"
                        [matTooltip]="coverImgFileName" [required]="false">
                    <mat-icon matSuffix (click)="fileInput.click()" style="cursor: pointer">attach_file</mat-icon>
                    <input #fileInput type="file" (change)="onFileSelected($event)" style="display: none;"
                        [formControlName]="'image'">

                </mat-form-field>
                <!-- <img *ngIf="imageSelected" src={{this.showImg}} class="image"> -->
            </div>


            <mat-form-field class="input">
                <mat-label>Title</mat-label>
                <input matInput placeholder="Title" formControlName="title">
            </mat-form-field>

            <mat-form-field class="input">
                <mat-label>Location</mat-label>
                <input matInput placeholder="Location" formControlName="location">
            </mat-form-field>

            <mat-form-field class="input">
                <mat-label>Description</mat-label>
                <textarea matInput placeholder="Description" formControlName="description"></textarea>
            </mat-form-field>

            <mat-form-field class="input">
                <mat-label>Price per night</mat-label>
                <input matInput type="number" placeholder="Price per night" formControlName="price">
            </mat-form-field>

            <mat-form-field class="input">
                <mat-label>Discount</mat-label>
                <!-- <mat-select [(value)]="discount">
                    <mat-option value="0">0%</mat-option>
                    <mat-option value="5">5%</mat-option>
                    <mat-option value="10">10%</mat-option>
                
                </mat-select> -->
                <input matInput type="number" placeholder="Discount" formControlName="discount">

            </mat-form-field>

            <mat-form-field class="input">
                <mat-label>Available spots</mat-label>
                <input matInput type="number" placeholder="Available spots" formControlName="available_spots">
            </mat-form-field>

            <button  type="submit" >Add</button>

        </form>

       
    </div>
    <!-- <mat-dialog-actions>
        <button (click)="closeDialog()">Cancel</button>
        
    </mat-dialog-actions> -->

</mat-dialog-content>