<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>TourismApp</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap" rel="stylesheet">
</head>

<body class="mat-typography">

  <div class="glass">
    <nav>
      <h2 class="logo">T||A</h2>
      <ul>
        <li><a href="#">HOME</a></li>
        <li><a href="#">ABOUT</a></li>
        <li><a href="#">BOOKINGS</a></li>
        <li><a href="#">CONTACT</a></li>
      </ul>
    </nav>

    <div>
      <h3>it's time to</h3>
      <h1>TRAVEL</h1>
    </div>

  <!-- 
      <mat-form-field appearance="outline">


        <mat-label>Search</mat-label>
        <input placeholder="Search destinations" #input>
      </mat-form-field> -->
  </div>


</body>

</html>